@charset 'UTF-8';

* {
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #dddddd;
    background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
}

#interface {
    background-color: white;
    width: 1000px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
}

header#cabecalho #glass {
    height: 190px;
    position: absolute;
    left: 1120px;
    top: 50px;
}

#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 200px;
    background: url('../imagens/Google_Glass_logo.png') no-repeat 0px 100px;
}

#cabecalho h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

#cabecalho h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #888888;
    font-size: 1.4em;
    font-weight: 300;
    padding: 0px;
    margin-top: 10px;
}

hgroup {
    margin-top: 10px;
}

span {
    font-weight: 900;
}

p {
    text-indent: 30px;
    text-align: justify;
}

figure h3 {
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.397);
}

figure p {
    font-size: 1.1em;
}

#foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.438);
}

#foto-legenda img {
    width: 100%;
    height: 100%;
}

#foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

#foto-legenda:hover figcaption {
    opacity: 1;
}

#menu ul {
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    right: 300px;
}

#menu li {
    display: inline-block;
    border: 1px solid rgb(46, 46, 46);
    border-radius: 5px;
    background-color: rgb(155, 154, 154);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

#menu li:hover {
    
    background-color: #606060;
}

#menu h1 {
    display: none;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: white;
}

section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
    transition: background-color 0.8s;
}

a:hover {
    background-color: #888888;
    border-radius: 3px;
    text-decoration: underline;
}

article#mainnot h2 {
    font-size: 1.1em;
    color: #606060;
    background-color: #acacac6c;
    padding: 5px 0px;
    margin: 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    margin-bottom: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 1.4em;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 1.2em;
    color: #606060;
}

#tabela {
    width: 520px;
    border: 1px solid rgb(75, 75, 75);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

#tabela td {
    border: 1px solid rgb(75, 75, 75);
    padding: 10px;
    text-align: center;
}

#tabela td.colleft {
    vertical-align: top;
    font-weight: bold;
    color: white;
    background-color: #606060;
}

#tabela td.colright {
    text-align: left;
    background-color: #888888;
}

#tabela caption {
    color: #888888;
    font-size: 1.5em;
    font-weight: bolder;
}

#tabela caption span {
    display: block;
    float: right;
    color: black;
    font-size: 0.7em;
    margin-top: 10px;
    font-weight: 300;
}

aside#lateral {
    display: block;
    width: 400px;
    float: right;
    margin-right: 15px;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    border-radius: 5px;
}

aside#lateral h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8em;
    color: #606060;
}

aside#lateral h2 {
    background-color: #606060;
    color: white;
    font-size: 1.3em;
    padding: 10px;
}

footer {
    clear: both;
    border-top: 1px solid #606060;
    font-size: 1.5em;
    font-weight: 500;
}

footer a {
    text-decoration: none;
    font-family: monospace;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-right: 4px solid;
    width: 8ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(8), blinking 0.7s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}
