@charset 'UTF-8';

/* Typical device Breakpoins 
Celular: de 600px até 768px
Tablet: de 769 px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (min-width: 768px) and (max-width: 992px) {

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login .imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login .formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, #49a09d, #5f2c82);
        transition: background .5s ease;
    }

    body:hover {
        background-image: linear-gradient(to bottom, #813daf, #27a5a1); 
    }

    section#login {
        width: 950px;
        height: 320px;
    }

    section#login .imagem {
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login .formulario {
        float: left;
        width: 60%;
    }

    .formulario h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 2em;
    }

    .formulario p {
        font-size: 1.2em;
        margin: 10px 0px;
    }
}